<nav class="navbar navbar-dark bg-dark mb-4 shadow-sm">
    <div class="container">
        <a href="{% url 'lista_productos' %}" class="navbar-brand mb-0 h1">HunarPack B2B</a>

        <!-- Carrito -->
        <div class="d-flex gap-3 align-items-center">
            <a href="{% url 'resumen_carrito' %}" class="btn btn-outline-light position-relative">
                <i class="bi bi-cart3"></i> Carro
                <span id="contador-carrito" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ total_productos|default:"0" }}
                </span>
            </a>
        </div>

        <!-- Menú de usuario -->
        {% if user.is_authenticated %}
            <div class="dropdown">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i> {{ user.username }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a href="{% url 'mi_historial' %}" class="dropdown-item">Mi Historial</a></li>
                    {% if user.is_staff %}
                        <li><a href="{% url 'dashboard' %}" class="dropdown-item text-primary fw-bold"> <i class="bi bi-speedometer2"></i> Dashboard de Gestión</a></li>
                    {% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="{% url 'logout' %}" class="dropdown-item text-danger">Cerrar Sesión</a></li>
                </ul>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Ingresar</a>
        {% endif %}
    </div>
</nav>